@font-face {
	font-family: 'Gotham Pro bold';
	src: url('fonts/GothamPro-Bold.eot');
	src: url('fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
	url('fonts/GothamPro-Bold.woff2') format('woff2'),
	url('fonts/GothamPro-Bold.woff') format('woff'),
	url('fonts/GothamPro-Bold.ttf') format('truetype'),
	url('fonts/GothamPro-Bold.svg#GothamPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('fonts/GothamPro.eot');
    src: url('fonts/GothamPro.eot?#iefix') format('embedded-opentype'),
        url('fonts/GothamPro.woff2') format('woff2'),
        url('fonts/GothamPro.woff') format('woff'),
        url('fonts/GothamPro.ttf') format('truetype'),
        url('fonts/GothamPro.svg#GothamPro') format('svg');
    font-weight: normal;
    font-style: normal;
}
.section{
	position: relative;
	z-index: 1;
}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	font-family: Gotham Pro;
}
a:hover, input[type="button"]:hover, input[type="submit"]:hover, button:hover{
	opacity: 0.5;
	cursor: pointer;
}
textarea{
	resize: none;
}
.wrap{
	max-width:1170px;
	margin: 0 auto;
}
.way{
	font-style: italic;
	font-size: 12px;
}
.way a{
	color: #000;
	text-decoration: none;
}
.on-border{
	position: absolute;
}
/*header*/
.header{
	height: 160px;
}
.header .wrap{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: 100%;
	position: relative;
}
.header .header-bottom{
	margin-bottom: 35px;
	font-family: 'Gotham Pro bold', sans-serif;
}
.header .header-bottom ul li a{
	font-family: 'Gotham Pro bold', sans-serif;
}
.header img[src="img/logo.png"]{
	position: absolute;
	left: 50%;
	margin-left: -85px;
	top: 22%;
}
.header .header-left{
	height: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	width: 40%;
	font-size: 12px;
}
.header .header-left p{
	margin: 0;
}
.header ul{
	display: flex;
	list-style: none;
	justify-content: center;
}
.header ul li{
	margin-right: 20px;
}
.header ul li a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.header .header-right{
	position: absolute;
	top: 20px;
	right: 0;
}
.header .header-right p a{
	color: #000;
	font-size: 12px;
	font-weight: bold;
	text-decoration-color: #bfbfbf;
}
.header .header-right p{
	text-align: right;
}
.header .header-right .menu{
	display: flex;
	align-items: center;
	margin-top: 17px;
}
.header .second-menu{
	display: none;
}
.header .drop-down:hover .second-menu{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 15px;
	width: 100%;
	z-index: 999;
	background: #fff;
}
.header .drop-down img{
	position: absolute;
	right: -10px;
	transform: rotate(270deg);
	top: 50%;
	margin-top: -6px;
}
.header .drop-down{
	position: relative;
}
.header .header-right .menu-item{
	margin-left:18px;
}
.header .header-right .menu-item{
	height: 100%;
	width: 100%;
	display: block;
}
.header .header-right .menu-item.price a{
	font-size: 12px;
	text-decoration: none;
	color: #000;
}
.header .header-right .basket-menu{
	display: flex;
	flex-direction: column;
	font-size: 10px;
	color: #a3a3a3;
}
.header .header-right .basket-menu a{
	font-size: 10px;
	color: #a3a3a3;
	text-decoration: none;
}
/*footer*/
.footer{
	background: #e8e8e8;
	position: relative;
}
.footer .wrap{
	padding:65px 0 0 115px;
	position: relative;
}
.footer-top,.footer-left{
	display: flex;
}
.footer-top{
	justify-content: space-between;
}
.footer .wrap .footer-top .footer-left ul{
	display: flex;
	flex-direction: column;
	list-style: none;
}
.footer .wrap .footer-top .footer-left ul li{
	margin-bottom: 18px;
}
.footer .wrap .footer-top .footer-left ul li a{
	color: #000;
	text-decoration: none;
}
.footer .wrap .footer-top .footer-left ul h4{
	font-size: 16px;
	font-weight: bold;
	font-family: 'Gotham Pro bold', sans-serif;
}
.footer .wrap .footer-top .footer-left ul:first-child{
	margin-right: 130px;
}
.footer .footer-top .footer-right p{
	font-weight: bold;
	margin-bottom: 16px;
}
.footer .footer-top .footer-right input[type="text"]{
	width: 250px;
	height: 45px;
	border: 0;
	outline: none;
	line-height: 45px;
	padding: 0 15px;
	font-weight: bold;
	color: #000;
	position: relative;
}
.footer-right ul{
	list-style: none;
	display: flex;
	margin-top: 35px;
}
.footer-right ul li{
	margin-right: 20px; 
}
.footer .footer-bottom{
	text-align: right;
	display: flex;
	align-items:center;
	justify-content: flex-end;
}
.footer-bottom p{
	margin-right: 120px;
}
.footer .footer-bottom ul{
	list-style: none;
	display: flex;
}
.footer .footer-bottom ul li{
	margin-left: 10px;
}
.footer .footer-bottom ul li:first-child{
	margin-left: 0;
}
.footer .footer-top .footer-right input[type="text"]::before{
	content: '';
	display: inline-block;
	height: 12px;
	width: 7px;
	background: url(img/arrow.png) #000;
	position: absolute;
	right: 0;
	z-index: 6;
}
.footer .email-footer{
	height: 45px;
	width: 42px;
	background: url(img/right-arrow.png) center #fff no-repeat;
	font-size: 0;
	border: 0;
}
.footer .form-footer{
	display: flex;
}
.slick-track{
	display: flex;
}
.slick-list{
	overflow-x:hidden;
}
.slick-slide{
	outline: none;
}

.arrivals-slider{
	position: relative;
}
.arrivals-slider .arrivals-slide{
	margin:0 6px;
	/*display: flex;
	flex-direction: column;*/
}
.arrivals-slider .arrivals-slide .arrival-info{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
	font-size: 12px
}
.arrivals-slider .arrivals-slide img{
	width: auto;
	display: block;
	margin: 0 auto;
}
.arrivals-slider .slick-arrow{
	position: absolute;
	top:50%;
	font-size: 0;
	width: 7px;
	height: 12px;
	background: url(img/arrow.png);
	border: none;
	z-index: 2;
	outline: none;
}
.arrivals-slider .slick-arrow.slick-prev{
	left: 0;
}
.arrivals-slider .slick-arrow.slick-next{
	right: 0;
	transform: rotate(180deg)
}
.arrivals-slide .info-item{
	position: absolute;
	display: flex;
	justify-content: space-between;
	width: 222px
}
.section{
	margin-bottom: 60px;
}
.section h2{
	font-size: 24px;
	margin-bottom:40px;
	text-align: center;
	font-weight: normal;
}
.section h1{
	font-size: 24px;
	margin-bottom:40px;
	text-align: center;
	font-weight: normal;
}
.section.food .wrap{
	align-items: center;
	display: flex;
	justify-content: space-between;
	font-size: 24px;
	text-align:center;
}
.section.food .wrap div p{
	text-align: center;
}
.section.food .wrap .paragraph{
	width: 100%;
}
.section.about h3{
	font-weight: normal;
	font-size: 36px;
	text-align: center;
	margin-bottom: 60px;
}
.section.about ul{
	list-style: none;
	display: flex;
	text-align: center;
	justify-content: space-around;
}
.section.about ul h4{
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 35px;
}
.section.about ul p{
	font-size: 12px;
}
.section.about ul li img{
	max-height: 90px;
	max-width: 90px;
}
.section.hashtags{
	text-align: center;
	font-size: 24px;
}
.section.hashtags p{
	width: 340px;
	margin: 0 auto;
}
.section.gallery-section .gallery{
	padding:0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction:column;
	flex-wrap: wrap;
	height: 470px;
	width: 100%;
	justify-content: flex-start;
	align-content: flex-start;
}
.section.gallery-section .gallery li{
	width: 20%;
	padding: 0 5px 9px;
}
.section.gallery-section .gallery li img {
	display: block;
	width: 100%;
	height: auto;
}
.section.gallery-section .gallery li:first-child{
	width: 39.5%;
	padding-left: 0;
	padding-right: 4px;
}
/*contact*/
.section.contact{
	padding-bottom: 45px;
	margin-bottom: 0;
}
.section.contact form, .section.create form{
	display: flex;
	flex-direction: column;
}
.section.contact form .fir-stage{
	display: flex;
	justify-content: space-between;
}
.section.contact form .fir-stage input[type="text"]:nth-child(2), .section.contact form .fir-stage input:first-child{
	width: 49%;
}
.section.contact form input[type="text"], .section.login form input[type="text"], .section.create form input[type="text"], .section.login .login-input input[type="email"]{
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	padding: 0 10px;
}
.section.create form input[type="text"]{
	margin-bottom: 0;
}
.section.contact form textarea{
	padding: 10px;
	margin-bottom: 20px;
	height: 175px;
}
.section.contact form textarea, .section.contact form input[type="text"]{
	font-size: 12px;
	border: 1px solid #c6c6c6;
	color: #7f7f7f;
}
.section.contact form input[type="submit"]{
	border: 1px solid #808080;
	background: 0;
	line-height: 30px;
	font-size: 12px;
}
.section.contact form input[type="submit"]:hover{
	opacity: 0.7;
	cursor: pointer;
}
.section.contact a{
	text-decoration-color: #cdddfb;
	color: #3879f0;
}
.section.contact h1{
	margin-bottom: 20px;
}
.section.contact h4{
	font-size:16px;
}
.section.contact .contact-top{
	font-family: 'GothamPro-Bold', sans-serif;
}
.section.contact p{
	margin-bottom: 35px;
	font-size: 12px;
}
.section.contact input[type="submit"]{
	margin-bottom: 30px;
}
/*login*/
.section.login .wrap, .section.create .wrap{
	width: 225px;
}
.section.login form{
	display: flex;
	flex-direction: column;
}
.section.login h1, .section.create h1{
	margin-bottom: 20px;
}
.section.login .robot{
	text-align: center;
	height:20px;
	width: 165px;
	background:#fbede0; 
	border:1px solid #131313;
	margin: 5px auto 25px auto;
	line-height: 20px;
	padding: 0 5px;
	font-size: 12px;
}
.section.login input[type="submit"], .section.create input[type="submit"]{
	background: #d9d9d9;
	border: 1px solid #131313;
	height: 35px;
	line-height: 35px;
	margin-bottom: 80px;
	cursor: pointer;
}
.section.login input[type="text"]:focus, .section.create input[type="text"]:focus{
	border:1px solid #131313;
}
.section.login .login-bottom, .section.login .login-bottom a{
	text-align: center;
	font-size: 12px;
	color: #1e1e1e;
}
.section.login .login-bottom a{
	text-decoration-color: #d6d6d6;
}
.section.login .forgot a{
	font-size: 10px;
	color: #8e8e8e;
	text-decoration: none;
}
.section.login .forgot{
	margin-bottom: 10px;
}
.section.login .login-input input[type="text"], .section.login .login-input input[type="email"]{
	width: 100%;
	margin-bottom: 0;
}
.section.login .login-input{
	position: relative;
	margin-bottom: 10px;
}
.section.create .create-input input{
	width: 100%;
}
.section.create .create-input{
	position: relative;
	margin-bottom: 10px;
}
.section.login .login-input::before, .section.create .create-input::before{
	content: '';
	display: block;
	height: 11px;
	width: 18px;
	background: url(img/key-arrow.png);
	position: absolute;
	right: 18px;
	top: 50%;
	margin-top: -5px;
	cursor: pointer;
}
/* product*/
.section.product .product-center{
	width: calc(100% - 165px);
	height: 650px;
}
.section.product .product-slider{
	height: 650px;
	width: 106px;
    overflow: hidden;
}
.section.product .product-center img,
.section.product .product-slider img{
	width: 100%;
	height: auto;
}
.section.product{
	font-size: 12px;
	margin-bottom: 140px;
}
.section.product .product-left{
	width: 60%;
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	padding-left: 60px;
}
.section.product .product-right{
	width:35%;
}
.section.product .product-content{
	display: flex;
	justify-content: space-between;
}
span.old-price{
	color: #a3a3a3;
	text-decoration: line-through;
}
span.discount{
	display: inline-block;
	border-left: 1px solid #000;
	padding-left: 5px;
}
span.new-price{
	color: #f13535;
}
.section.product .product-price{
	margin-top: 20px;
}
.section.product .product-price .sizes{
	position: absolute;
	bottom: 20px;
	right: 0;
}
.section.product .product-price .sizes a{
	color: #000;
	font-size: 10px;
	text-decoration-color: #d4d4d4;
}
.section.product .product-price .sizes img{
	margin-bottom: -3px;
}
.section.product .product-top{
	position: relative;
}
.section.product .buttons{
	margin-bottom: 30px;
}
.section.product .product-right p{
	margin-bottom: 20px;
}
.section.product .product-right p:first-child{
	margin-bottom: 60px;
}
.section.product .product-right p:nth-child(2){
	margin-bottom: 50px;
}
/*create*/
input[type="checkbox"]{
	display: none;
}
.section.create label::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border-top: 1px solid #131313;
	border-bottom: 1px solid #131313;
	border-left: 1px solid #585858;
	border-right: 1px solid #585858;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px;
}
.section.create label{
	position: relative;
	padding-left: 20px;
	font-size: 10px;
	color: #969696;
	margin-bottom: 10px;
}
input[type="checkbox"]:checked + label:before{
	background-image: url(img/tick.png);
	background-size: contain;
	background-repeat: no-repeat;
}
.section.create input[type="submit"]{
	margin-bottom: 40px;
}
.section.create .create-bottom{
	text-align: center;
	font-size: 12px;
}
.section.create .create-bottom a{
	color: #000;
}
/*bag*/
.section.bag h2{
	margin-bottom: 25px;
}
.section.bag .bag-top{
	display: flex;
	justify-content: space-between;
	padding-bottom: 35px;
	border-bottom: 1px solid #c6c6c6;
	font-family: 'Gotham Pro bold', sans-serif;
}
.section.bag .bag-top .bag-right-top span:last-child{
	margin-left: 182px;
}
.section.bag .bag-top .bag-right-top span:nth-child(2){
		margin-left: 105px;
}
.section.bag .bag-item{
	display: flex;
	align-items: center;
	height: 150px;
	border-bottom: 1px solid #c6c6c6
}
.section.bag .bag-item ul, .section.bag .bag-items {
	list-style: none;
	display: flex;
	flex-direction: column;
}
.section.bag .bag-items li img{
	width: 70px;
	height: auto; 
	margin-right: 40px;
}
.section.bag .bag-items li.size span::before{
	content: '';
	display: block;
	background: url(img/grey-arrow.png);
	position: absolute;
	height: 5px;
	width: 9px;
	right: -15px;
	top: 50%;
	margin-top: -2px;
}
.section.bag .bag-items li.size span{
	position: relative;
	color: #7f7f7f;
	position: relative;
}
.section.bag .bag-items .info-item li span{
	font-size: 14px;
}
.section.bag .bag-items .info-item .name-item a{
	font-size: 16px;
	color: #000;
	text-decoration: none;
}
.section.bag .info-item .color{
	color: #7f7f7f;
}
.section.bag .bag-items li.size:hover .size-min{
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #fff;
	width: 100%;
	color: #7f7f7f;
	cursor: pointer;
	width: 100px;
}
.section.bag .bag-items li.size .size-min{
	display: none;
}
.section.bag .bag-items .info-item .remove{
	margin-top: 15px;
	color: #f89e9e;
	text-decoration: underline #fde7e7;
}
.section.bag .bag-item{
	display: flex;
	justify-content: space-between;
}
.section.bag .bag-item .left-info, .right-info{
	display: flex;
	align-items: center;
}
.section.bag .bag-item #spinner{
	height: 45px;
	width: 60px;
	margin-right: 170px;
	margin-left: 110px;
}
.section.bag .statistics{
	display: flex;
	flex-direction: column;
	text-align: right;
	margin-top: 25px;
	width: 240px;
}
.section.bag .stats-all{
	display: flex;
	justify-content: flex-end;
}
.section.bag .statistics .stats-bottom{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}
.section.bag .statistics p, .section.bag .statistics a{
	font-size: 12px;
	text-align: center;
}
.section.bag .statistics p{
	margin-top: 35px;
	margin-bottom: 15px;
}
.section.bag .statistics a{
	color: #000;
	text-decoration-color: #bfbfbf;
	width: 210px;
	text-align: center;
}
.section.bag .statistics .stats-bottom span{
	margin-top: 20px;
}
.section.bag .statistics .price{
	margin-left: 45px;
}
.section.bag .statistics a.check{
	height: 35px;
	line-height: 35px;
	width: 190px;
	border: 1px solid #c6c6c6;
	background: #f3f3f3;
	text-align: center;
	cursor: pointer;
	margin: 0 auto;
	text-decoration: none;
}
.section.bag .statistics .stat-input input{
	line-height: 35px;
	height: 35px;
	width: 120px;
	border: 1px solid #c6c6c6;
	background: #f3f3f3;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	
}
.section.bag .statistics .layer{
	margin-top: 15px;
}
.section.bag .statistics .layer.discount{
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.section.bag .statistics .layer:first-child{
	margin-top: 0;
}
/*gift*/
.section.gift .gift-content{
	display: flex;
	justify-content: space-between;
}
.section.gift .gift-left{
	width: 65%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.section.gift .gift-right{
	width: 35%;
	display:flex;
	flex-direction: column;
}
.section.gift .gift-left .gift-card{
	height: 220px;
	width: 440px;
	background: url(img/logo.png) center no-repeat  #abe5fa;
	border: 1px solid #2e528f;
	border-radius: 40px;
}
.section.gift .gift-right .gift-top, .section.product .product-right .product-top{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
}
.section.gift h1{
	font-size: 18px;
	margin: 0;
	font-weight: bold;
}
.section select{
	width: 100%;
	border: 1px solid #c6c6c6;
	background: #fff;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding: 0 15px;
}
.section select option{
	font-size: 150%
}
.section .buttons{
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
}
.section input.add{
	width: 72%;
	height: 40px;
	background: #000;
	color: #fff;
	font-size: 14px;
	text-align: center;
	border: none;
}
.section .wish-list{
	width: 25%;
	height: 40px;
	position: relative;
}
.section input.wishlist{
	width: 100%;
	height: 100%;
	background: #fff;
	border: 1px solid #c6c6c6;
	font-size: 14px;
	text-align: left;
	padding-left: 9px;
	position: relative;
}
.section .wish-list:after{
	content: '';
	display: block;
	position: absolute;
	background: url(img/heart.png);
	width: 23px;
	height: 20px;
	top: 50%;
	margin-top: -10px;
	right: 9px;
}
.section.gift .gift-right p{
	margin-bottom: 20px;
	font-size: 12px;
}
.section.gift .gift-right p:last-child{
	margin-top: 20px;
}
.section.gift .gift-right h4{
	text-align: center;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 40px;
}
.section.gift .gift-right .gift-price{
	margin-top: 20px;
}
/*wishlist*/
.section.wishlist ul.icons{
	display: flex;
	list-style: none;
	width: 100%;
	justify-content: center;
	margin-bottom: 10px;
}
.section.wishlist ul.icons li{
	margin: 0 10px;
}
.section.wishlist h1{
	margin-bottom: 15px;
}
.section.wishlist .wishlist-list{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.section.wishlist .wishlist-list li{
	padding:0 5px;
	width: 25%;
}
.section.wishlist .wishlist-list li img {
	display: block;
	margin: 0 auto;
	width: 100%;
}
.section.wishlist .wishlist-list .product-card .product-name{
	font-size: 12px;
	text-align: center;
	width: 100%;
}
.section.wishlist .wishlist-list .product-card .price{
	color: #7f7f7f;
	font-size: 12px;
	width: 100%;
	text-align: center;
}
.section.wishlist .wishlist-list .product-card:hover .product-info{
	display: none;
}
.section.wishlist .wishlist-list .product-card .select-size{
	height: 60px;
	width: 100%;
	background: #fff;
	position: absolute;
	bottom: 30px;
	display: none;
	padding-top: 10px;
	padding-bottom: 25px;
}
.section.wishlist .wishlist-list .product-card{
	position: relative;
}
.section.wishlist .wishlist-list .product-card:hover .select-size{
	display: block;
}
.section.wishlist .wishlist-list .product-card .select-size h5{
	font-size: 12px;
	text-align: center;
	font-weight: normal;
}
.section.wishlist .wishlist-list .product-card .add{
	width: 130px;
	margin: 0 auto;
	display: none;
}
.section.wishlist .select-menu select{
	border: 0;
	height: 20px;
	outline: none;
	background: #fff;
	font-size: 12px;
	appearance: none;
}
.section.wishlist .close{
	position: absolute;
	top:0;
	right: 0;
	background: #fff;
	height: 17px;
	width: 17px;
	font-size: 12px;
	text-align: center;
	line-height: 17px;
	display: none;
	cursor: pointer;
}
.section.wishlist .wishlist-list .product-card:hover .add, .section.wishlist .product-card:hover .close{
	display: block;
}
/*paypal*/
.section.paypal .paypal-form form{
	display: flex;
	flex-direction: column;
}
.fifty-fifty{
	display: flex;
	justify-content: space-between;
}
.fifty-fifty .input{
	width: 49%;
}

.section.paypal form input[type="text"], .section.paypal form input[type="email"]{
	height: 40px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	line-height: 40px;
	padding: 0 15px;
	color: #222;
	font-weight: bold;
}
.section.paypal form input[type="text"]:last-child{
	margin-bottom: 0;
}
.section.paypal .paypal-form h3{
	font-size: 16px;
	margin-bottom: 25px;
}
.section.paypal .paypal-form h3.paypal-log{
	margin-bottom: 15px;
}
.section.paypal .paypal-form .form-bottom{
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}
.section.paypal .paypal-form .form-bottom input[type="submit"]{
	text-align: center;
	height: 60px;
	width: 180px;
	border-radius: 10px;
	background: #d9d9d9;
	border:1px solid #898989;
	cursor: pointer;
}
.section.paypal .paypal-form .form-bottom .return{
	color: #000;
	font-size: 12px;
	text-decoration: none;
	padding-left: 15px;
	position: relative;
}
.section.paypal .paypal-form .form-bottom .return img{
	position: absolute;
	left: 0;
}
.section.paypal input[type="checkbox"] + label{
	position: relative;
	padding-left: 24px;
	font-size: 12px;
	margin-bottom: 0px;
}
.section.paypal input[type="checkbox"]:checked + label:before{
	background: url(img/white-tick.png) #000;
	background-size: contain;
	background-repeat: no-repeat;
}
.section.paypal .contact-inform  .check::before{
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background: #fff;
	border-top: 1px solid #131313;
	border-bottom: 1px solid #131313;
	border-left: 1px solid #585858;
	border-right: 1px solid #585858;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -10px;
}

.contact-inform .paypal-contact-top{
	display: flex;
	justify-content: space-between;
}
.contact-inform .paypal-contact-top .paypal-login{
	color: #7f7f7f;
}
.contact-inform .paypal-contact-top .paypal-login a{
	color: #7f7f7f;
	text-decoration: none;
}
.contact-inform{
	margin-bottom: 40px;
	border-top: 1px solid #c6c6c6;
	padding-top: 45px;
	position: relative;
}
.section.paypal .contact-inform .on-border{
	font-size: 12px;
	color: #7f7f7f;
	background: #fff;
	top: -7px;
	display: block;
	padding: 0 6px;
	left: 50%;
	margin-left: -20px;
}
.section.paypal .paypal-checkout{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
	border: 1px solid #c6c6c6;
	border-radius: 10px;
	margin: 30px 0;
	position: relative;
}
.section.paypal .paypal-checkout .paypal-background{
	padding: 10px 62px;
	background: #ffc337;
	border-radius: 5px;
}
.section.paypal .paypal-checkout .on-border{
	font-size: 12px;
	background: #fff;
	top: -7px;
	display: block;
	padding: 0 6px;
	left: 50%;
	margin-left: -50px;
}
.section.paypal .paypal-all{
	display: flex;
	justify-content: space-between;
}
.section.paypal .paypal-all .paypal-right{
	width: 43%
}
.section.paypal .paypal-all .paypal-left{
	width: 50%;
}
.section.paypal .paypal-right .shopping-item img{
	max-height: 105px;
	max-width: 70px;
}
.section.paypal .paypal-right .shopping-item .img{
	position: relative;
	display: inline-block;
}
.section.paypal .paypal-right .shopping-item .amount{
	border-radius: 50%;
	width: 18px;
	height: 18px;
	background: #898989;
	text-align: center;
	color: #f7f7f7;
	font-size: 10px;
	line-height: 18px;
	position: absolute;
	top: -4px;
	right:-5px;
}
.section.paypal .paypal-right .shopping-list{
	list-style: none;
	margin-bottom: 30px;
}
.section.paypal .paypal-right .shopping-list li{
	margin-bottom: 18px;
}
.section.paypal .shopping-list .shopping-item{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.section.paypal .shopping-list .shopping-item .item-info{
	display: flex;
	flex-direction: column;
	margin-left: 40px;
}
.section.paypal .shopping-list .shopping-item .size{
	font-size: 14px;
	color: #7f7f7f;
}
.section.paypal .shopping-item .shopping-list-left{
	display: flex;
	align-items: center;
}
.section.paypal .gift-card input[type="text"]{
	width: 75%;
	height: 45px;
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	line-height: 45px;
	color: #7f7f7f;
	font-size: 12px;
}
.section.paypal .gift-card input[type="submit"]{
	height: 45px;
	background: #c6c6c6;
	border-radius: 5px;
	color: #fff;
	font-size: 14px;
	border: 0;
	width: 22%;
}
.section.paypal .gift-card form{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}
.section.paypal textarea[name="message"]{
	height: 150px;
	width: 100%; 
	border: 1px solid #c6c6c6;
	border-radius: 10px;
	margin-top: 5px;
	padding: 10px;
	margin-bottom: 25px;
}
.section.paypal .message-form{
	display: flex;
	flex-direction: column;
	margin-top: 100px;
}
.section.paypal label[for="message"]{
	font-size: 12px;
}
.section.paypal .paypal-right p{
	font-size: 12px;
}
.section.paypal .total{
	display: flex;
	flex-direction: column;
	display: flex;
	border-top: 1px solid #c6c6c6; 
	padding-top: 20px;
}
.section.paypal .total {
	display: flex;
	justify-content: space-between;
}
.section.paypal .total .layer:first-child{
	margin-bottom: 15px;
}
.section.paypal .total .layer:nth-child(3){
	margin-top: 55px;
	font-size: 14px;
}
.section.paypal .total .layer:nth-child(3) span:first-child{
	font-size: 24px;
}
.section.paypal .total .layer:nth-child(3) span:last-child{
	font-size: 30px;
}
.section.paypal .total .layer:nth-child(3) p{
	font-size: 14px;
	line-height: 100%;
}
.header.paypal-head img[src="img/logo.png"]{
	position: absolute;
	left: 25%;
	margin-left: -85px;
}
.section.paypal .phone::before{
	content: '?';
	display: block;
	position: absolute;
	height:14px;
	width: 14px;
	right: 15px;
	top: 50%;
	margin-top: -7px;
	background: url(img/elips.png) center/contain;
	text-align: center;
	line-height: 14px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	font-weight: bold;
}
.section.paypal .phone{
	position: relative;
}
.section.paypal .phone .fifty-fifty .input{
	width: 49%;
}
.section.paypal .phone input{
	width: 100%;
}
.section.paypal .input{
	position: relative;
	margin-bottom: 10px;
}
.section.paypal .input label{
	position: absolute;
	height: 100%;
	line-height: 40px;
	padding-left: 15px;
	font-size: 12px;
	font-weight: bold;
	left: 0;
	color: #7f7f7f;
	transition: all 0.3s linear;
}
.section.paypal .input input:focus + label, .section.paypal .input input:not(:placeholder-shown) + label{
	font-size: 10px;
	transform: translateY(-13px);
}
.section.paypal .input input{
	width: 100%;
}
.section.paypal .select{
	position: relative;
	width: 49%;
	margin-bottom: 10px;
}
.section.paypal .select::before{
	content: '';
	display: block;
	position: absolute;
	background: url(img/bottom-arrow.png) #fff center/contain no-repeat;
	width: 12px;
	height: 7px;
	right: 16px;
	top: 50%;
	margin-top: -3px;
}
.section.paypal .select select{
	border: 1px solid #c6c6c6;
	border-radius: 5px;
	width: 100%;
	font-weight: bold;
	appearance:none;
	-webkit-appearance: none;
}
.section.paypal .select label{
	position: absolute;
	font-size: 10px;
	color: #7f7f7f;
	font-weight: bold;
	padding-left: 15px;
	top: 2px;
}
/*paypal-login*/
.section.paypal .account{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}
.section.paypal .acc-info{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}
.section.paypal .acc-info a{
	color: #000;
	text-decoration:none;
	font-size: 12px;
}
/*swimwear*/
.section.swimwear .catalog{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}
.section.swimwear h1{
	font-size: 24px;
}
.section.swimwear .catalog .product-card{
 	position: relative;
}
.section.swimwear .catalog .product-card .sale{
	position: absolute;
	top: 0;
	z-index: 4;
}
.section.swimwear .product-card a.heart{
	position: absolute;
	top: 10px;
	right: 10px;
	display: none;
	cursor: pointer;
	z-index: 4;
}
.section.swimwear .product-card:hover .heart{
	display: block;
}
.section.swimwear .product-card .product-info{
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}
.section.swimwear .product-card .quick-add{
	display: none;
}
.section.swimwear .catalog li:hover .quick-add{
	display: flex;
	justify-content: space-between;
	position: absolute;
	bottom: 10px;
	background: rgba(255,255,255,0.8);
	height: 17px;
	line-height: 17px;
	left: 6px;
	width: 95%;
	padding: 0 6px;
	font-size: 10px;
}
.section.swimwear .product-card .quick-add input[type="radio"]{
	appearance:none;
	-webkit-appearance: none;
}
.section.swimwear .product-card .quick-add input:checked + label{
	border: 1px solid black;
	line-height: 13px;
	height: 13px;
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 2px;
	padding-right: 2px;
}
.section.swimwear .product-card .quick-add label:hover{
	color: #737373;
	cursor: pointer;
}
.section.swimwear .product-card .quick-add label{
	margin-left: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
	height: 100%;
}
.section.swimwear .product-card .quick-add div:last-child{
	display: flex;
}
.section.swimwear .product-card .image{
	position: relative;
}
.section.swimwear .all-catalog{
	position: relative;
}
.section.swimwear .catalog-menu{
	position: absolute;
	display: flex;
	list-style: none;
	top: -20px;
	right: 0;
}
.section.swimwear .catalog-menu li{
	position: relative;
}
.section.swimwear .catalog-menu li:last-child{
	margin-left: 65px;
}
.section.swimwear .catalog-menu li:nth-child(2){
	margin-left: 45px;
}
.section.swimwear .catalog-menu li img:last-child{
	position: absolute;
	top: 50%;
	right: -9px;
}
.section.swimwear .catalog-menu .fir:first-child img:first-child{
	position: absolute;
	top: 3px;
	left: -24px;
}
.section.swimwear .catalog-menu .min-menu{
	list-style: none;
	display: none;
	line-height: 110%;
}
.section.swimwear .catalog-menu .fir{
	position: relative;
}
.section.swimwear .catalog-menu li.first:hover + .min-menu.first{
	display:flex;
	flex-direction: column;
	position: absolute;
	z-index: 4;
	background: #fff;
	top: 15px;
}
.section.swimwear .catalog-menu .min-menu li{
	margin: 0;
}
.section.swimwear .catalog li{
	padding: 0 5px;
	width: 25%;
}
.section.swimwear .catalog li img {
	display: block;
	width: 100%;
}
/* contact us */
.contact-us{
	width: 325px;
	height: 535px;
} 
.contact-us .contact-us-top{
	height: 45px;
	line-height: 45px;
	background: #131313;
	color: #fff;
	text-align: center;
}
.contact-us input[type="text"], .contact-us input[type="email"]{
	height: 40px;
	border: 1px solid #d5d5d5;
	line-height: 40px;
	border-radius: 5px;
}
.contact-us .contact-content{
	width: 265px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.contact-us .contact-bottom{
	height: 50px;
	line-height: 50px;
	background: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	box-shadow: 0 -8px 25px rgba(0,0,0,0.1);
	position: relative;
	z-index: 5
}
.contact-us .contact-bottom input[type="submit"]{
	height: 35px;
	width: 110px;
	background: #131313;
	border:0;
	color: #fff;
	border-radius: 5px;
	padding: 0 5px;
	font-size: 12px;
}
.contact-us .contact-bottom a{
	background: #131313;
	color: #fff;
	border: 0;
	font-size: 12px;
	height: 25px;
	width: 65px;
	border-radius: 12px;
	display: flex;
	align-items: center;
	padding: 0 5px;
}
.contact-us .contact-bottom a img{
	margin-right: 5px;
}
.contact-us .contact-content label{
	font-size: 12px;
	margin-top: 25px;
}
.contact-us .contact-content textarea{
	border: 1px solid #d5d5d5;
	border-radius: 5px;
	height: 95px;
	padding: 5px;
	width: 100%;
}
.contact-us .contact-content .contact-text{
	position: relative;
	margin-top: 25px;
}
.contact-us .contact-content .contact-text::before{
	content: 'How can we help you?';
	display: block;
	position: absolute;
	top: -13px;
	font-size: 12px;
}
.contact-us .contact-content input:last-child{
	font-size: 0px;
	width: 0px;
	height: 0px;
}
.contact-us .contact-content span.label-style{
	margin-top: 25px;
	font-size: 12px;
}
.contact-us .contact-content label[for="attach"]{
	margin-bottom: 35px;
	border: 1px dashed #d5d5d5;
	line-height: 45px;
	height: 45px;
	color: #7f7f7f;
	border-radius: 5px;
	text-align: center;
	font-size: 12px;
	margin-top: 0;
	display: block;
}
.menu-btn {
	display: none;
}
.shadow {
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 998;
}
@media (max-width: 991px) {
	.footer .wrap,
	.wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.footer .wrap {
		padding-top: 35px;
	}
	.footer-left,
	.footer-right {
		width: 50%;
	}
	.footer .wrap .footer-top .footer-left ul:first-child {
		margin-right: 0;
	}
	.footer .wrap .footer-top .footer-left ul {
		width: 50%;
	}
	.section.gallery-section .gallery {
		flex-direction: initial;
		height: initial;
	}
	.section.gallery-section .gallery li:first-child {
		width: 100%;
		height: auto;
		margin-right: 0;
		padding: 0 5px;
	}
	.section.gallery-section .gallery li {
		width: 33.33%;
		height: auto;
		padding: 0 5px;
		margin-bottom: 10px;
	}
	.section.gallery-section .gallery li img {
		width: 100%;
		height: auto;
	}
	.section.gallery-section .gallery li:nth-child(2n),
	.section.gallery-section .gallery li:nth-child(2n+1) {
		margin-right: initial;
	}
	.section.gift .gift-right {
		width: 48%;
	}
	.section.gift .gift-left {
		width: 48%;
	}
	.section.bag .bag-item .left-info, .right-info {
		width: 50%;
	}
	.section.bag .bag-item .right-info .amount {
		margin: 0 auto;
	}
	.section.bag .bag-item .amount input {
		margin: 0 !important;
	}
	.section.bag .bag-top .bag-left-top,
	.section.bag .bag-top .bag-right-top {
		width: 50%;
	}
	.section.bag .bag-top .bag-right-top {
		display: flex;
		flex-wrap: wrap;
	}
	.section.bag .bag-top .bag-right-top span {
		display: block;
	}
	.section.bag .bag-top .bag-right-top span:last-child {
		margin: 0;
	}
	.section.bag .bag-top .bag-right-top span:nth-child(2) {
		margin: 0 auto;
	}
    .section.product .product-left {
        padding-left: 0;
    }
    .section.product .product-center {
        width: calc(100% - 125px);
        height: auto;
    }
}
@media (max-width: 767px) {
	.section.food .wrap {
		flex-direction: column;
	}
	.section.food .wrap .paragraph {
		margin-bottom: 15px;
	}
	.section.food .wrap img {
		display: block;
		width: 100%;
		height: auto;
	}
	.section.about ul {
		justify-content: flex-start;
		flex-wrap: wrap;
	}
	.section.about ul li {
		width: 50%;
		margin-bottom: 15px;
	}
	.header .header-left p,
	.header .header-right p {
		display: none;
	}
	.header img[src="img/logo.png"] {
		position: relative;
		top: initial;
		left: initial;
		margin: 0 -85px 0 auto;
	}
	.header .header-right {
		position: relative;
		top: initial;
		right: initial;
		width: 50%;
	}
	.header .header-left {
		width: 50%;
	}
	.header .header-bottom {
		position: fixed;
		width: 300px;
		right: -300px;
		top: 0;
		height: 100%;
		background: #fff;
		z-index: 999;
		transition: all linear 0.2s;
	}
	.header .header-bottom.active {
		right: 0;
	}
	.header ul {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		height: 100%;
	}
	.header .wrap {
		flex-direction: initial;
		height: 80px;
	}
	.header {
		height: 80px;
	}
	.header .header-right .menu{
		justify-content: flex-end;
		height: 100%;
		margin-top: 0;
	}
	.header .header-right .menu-item {
		width: initial;
		height: initial;
	}
	.header .header-right .menu-item:nth-child(1),
	.header .header-right .menu-item:nth-child(2),
	.header .header-right .menu-item:nth-child(3),
	.header .header-right .menu-item:nth-child(4) {
		display: none;
	}
	.header ul li {
		margin-bottom: 10px;
	}
	.menu-btn {
		position: relative;
		height: 21px;
		width: 30px;
		display: flex;
		align-items: center;
	}
	.menu-btn span {
		height: 2px;
		width: 100%;
		display: block;
		background: #000;
	}
	.menu-btn:before,
	.menu-btn:after {
		position: absolute;
		left: 0;
		height: 2px;
		width: 100%;
		display: block;
		content: '';
		background: #000;
	}
	.menu-btn:after {
		bottom: 0;
	}
	.menu-btn:before {
		top: 0;
	}
	.footer-left, .footer-right {
		width: 100%;
	}
	.footer-top {
		flex-direction: column;
	}
	.footer-right {
		align-items: center;
		display: flex;
		flex-direction: column;
		margin-bottom: 15px;
	}
	.footer .footer-bottom {
		flex-direction: column;
		text-align: center;
	}
	.footer-bottom p {
		margin: 0 0 15px;
	}
	.section.swimwear .catalog li{
		width: 50%;
	}
	.section.paypal .paypal-all {
		flex-direction: column;
	}
	.section.paypal .paypal-all .paypal-right {
		width: 100%;
		order: 1;
		margin-bottom: 15px;
	}
	.section.paypal .paypal-all .paypal-left {
		width: 100%;
		order: 2;
	}
	.section.paypal .message-form {
		margin-top: 20px;
	}
	.way {
		margin-bottom: 20px;
	}
	.paypal-head.header .header-left {
		width: 100%;
	}
	.header.paypal-head img[src="img/logo.png"] {
		position: relative;
		left: initial;
		margin-left: auto;
		margin-right: auto;
	}
	.section.gift .gift-right {
		width: 100%;
	}
	.section.gift .gift-left {
		width: 100%;
	}
	.section.gift .gift-content {
		flex-direction: column;
	}
	.section.gift .gift-right .gift-top {
		height: auto;
		padding: 20px 0;
	}
	.section.wishlist .wishlist-list li{
		width: 50%;
	}
	.section.bag .bag-item {
		flex-direction: column;
		min-height: 150px;
		height: auto;
		padding: 15px 0;
	}
	.section.bag .bag-item .left-info, .right-info {
		width: 100%;
	}
	.section.bag .bag-item .left-info {
		margin-bottom: 15px;
	}
	.section.bag .bag-top {
		display: none;
	}
    .section.product .product-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .section.product .product-left {
        margin-top: 0;
        width: 100%;
    }
    .section.product .product-right {
        width: 100%;
    }
}
@media (max-width: 479px) {
	.section.gallery-section .gallery li {
		width: 50%;
	}
	.section.swimwear .catalog li{
		width: 100%;
	}
	.section.wishlist .wishlist-list li{
		width: 100%;
	}
}